<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title - ContactsManager</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet"
          asp-append-version="true" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          rel="stylesheet"
          asp-append-version="true" />
</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href="/">
                <i class="fa-solid fa-address-book"></i>
                ContactsManager
            </a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Countries">
                        Countries
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container mt-3">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>